<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div *ngFor="let college of colleges" class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0"> {{ college.college_name }}</h3>
                <div class="subheading mb-3">{{ college.degree }}</div>
                <div> {{ college.major }}</div>
                <p> {{ college.grade }}</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary"> {{ college.from_date}} - {{ college.to_date }}</span>
            </div>
        </div>
    </div>
</section>