<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">
      Sahaj
      <span class="text-primary">Khandelwal</span>
    </h1>
    <div class="subheading mb-5">
      57, Kalpana Nagar, Bhopal · (+91) 9721684699 ·
      <a href="mailto:name@email.com">khandelwalsahaj36@gmail.com</a>
    </div>
    <p class="lead mb-5">
      I am experienced in leveraging agile frameworks to provide a robust
      synopsis for high level overviews. Iterative approaches to corporate
      strategy foster collaborative thinking to further the overall value
      proposition.
    </p>
    <a href="#">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <div class="social-icons">
      <p>Here</p>
      <a href="#">
        Haha
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="#">
        Haha
        <i class="fab fa-github"></i>
      </a>
      ahah
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      baba
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</section>
