<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="achievements"
>
  <div class="w-100">
    <h2 class="mb-5">Achievements</h2>
    <ul class="fa-ul">
      <div
        *ngFor="let achievement of achievements"
        class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
      >
        <li>
          <span class="fa-li">
            <i class="fa fa-check-square"></i>
          </span>
          <h5>{{ achievement.achievement }}</h5>
        </li>
      </div>
    </ul>
  </div>
</section>
